{% extends 'baseBack.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1 style="color:#542167";><b>Create new Event</b></h1>

    {{ include('event/_form.html.twig') }}

    <a   class="btn btn-primary" href="{{ path('app_event_index') }}">back to list</a>
{% endblock %}
