{% extends 'baseBack.html.twig' %}

{% block title %}New Sponsor{% endblock %}

{% block body %}
    <h1 style="color:#542167";><b>Create new Sponsor</b></h1>

    {{ include('sponsor/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_sponsor_index') }}">Back to list</a>
{% endblock %}
